/*==reset==*/
body{ margin:0; font-family:arial;overflow-x:hidden;}
*{
font-family:arial;box-sizing: border-box;}

h1, h2, h3, h4, h5, h6, ul, li, a, p{margin:0; padding:0;}
li{list-style-type:none;}
ul{padding:0; margin:0;}
ul{list-style-type:none;}
a{text-decoration:none;}


.wrapper{background:#E3E6E6;}



/*==nav==*/
nav {background: #131921;
    color: #fff;
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0 1%;}


nav .nav-inner-w {display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;}



nav a{color:#fff;}





/*==nav-log==*/
.nav-logo {padding-top: 5px;
    display: flex;
    align-items: center;
    justify-content: center;}

.nav-logo img{ width:97px;}



/*==nav-deliver==*/
.nav-deliver img {width: 18px;
    display: block;
    margin-top: 12px;}

.nav-deliver{display:flex;}






/*==nav-search==*/
nav .nav-search{display:flex; align-items:center;}
nav .nav-search img {width: 40px;
    height: 40px;
    background: #febd69;
    border-radius: 0px 5px 5px 0px;}

select {
    padding: 14px 10px 9px;
    color: #0F1111;
    background: #F3F3F3;
    outline: none;
    border: none;
    border-radius: 5px 0px 0px 5px;
    border-right: 1px solid #CDCDCD;
    width: 60px;
    cursor: pointer;
    height: 40px;
}

select:hover {
    background: #ededed;
    cursor:pointer;
}

input[type="text"] {padding: 13px 500px 10px 10px;
    text-indent: 8px;
    font-size: 15px;
    outline: none;
    border: none;}


/*==nav-flag==*/
.nav-flag{display:flex; justify-content:center; align-items:center;margin-top: 0.5%;}
.nav-flag img{height:14px;margin-right:5px;}






/*==drop-down-mega-menus==*/

.forflagflex{display:flex; justify-content:center; align-items:center;}
.nav-flag {
    position: relative;}

.nav-accountlist{position:relative;}

.mega-menu{display:none;}

.nav-accountlist:hover .mega-menu {
    display: block;
    position: absolute;
    background: #fff;
    z-index: 999;
    width: 500px;
    right: -100px;
    min-height: 390px;
    padding: 15px;
    border-radius: 4px;
    box-shadow: 0 0 30px #000;
    color: #000;
    user-select:none;
}

button.btnsecure.widthmegabtn {
    width: 170px;
    margin: auto;
    display: block;
}

.mega-menu p a {
    color: #0055aa;
    font-size: 11px;
}

.mega-menu p {
    margin-top: 10px;
    color: #000;
    font-size: 11px;
    text-align: center;
    margin-bottom: 10px;
}


.text-content {
    padding-top: 20px;
    border-top:1px solid #ddd;
}

.mega-menu .text-content .left ul b {
    color: #0F1111;
    font-size: 16px;
}

.mega-menu .text-content .left ul li a {
    color: #444;
    font-size: 13px;
}

.mega-menu .text-content .right ul li a {
    color: #444;
    font-size: 13px;
}

.right.border-left {
    border-left: 1px solid #ddd;
    padding-left: 20px;
}

.text-content ul li {
    line-height: 16px;
    margin: 7px 0;
    font-weight: 400;
}

.mega-menu .text-content ul li a:hover {
    cursor: pointer;
    color: #C7511F;
    text-decoration:underline;
}


.nav-accountlist:hover .mega-menu .lang-hover:hover{cursor: pointer;
    color: #C7511F; text-decoration:underline;}



.language-dropdown{display:none; position:absolute;}

.nav-flag:hover .language-dropdown {
    display: block;
    top: 0;
    background: #fff;
    color: #000;
    z-index: 999;
    width: 240px;
    display: flex;
    flex-direction: column;
    border-radius: 4px;
    box-shadow: 0 0 30px #000;
    color: #000;
    user-select: none;
}


.nav-flag:hover .language-dropdown {
    font-size: 13px;
    color: #444;
    padding: 0 15px;
    top: 19px;
}
            
.nav-flag:hover .language-dropdown .selected-lang a {
    font-size: 11px;
    color: #007185;
    cursor:pointer;
}

.nav-flag:hover .language-dropdown {
    height: 400px;
    font-size: 13px;
    color: #444;
    padding: 0 15px;
}

.link-color-cyan{color: #007185;}
.border-bottom{border-bottom: 1px solid #ddd;}
.padding-btm20{padding-bottom:20px;}

.link-color-cyan:hover{cursor: pointer;
    color: #C7511F; text-decoration:underline;}

.language-dropdown p {
    padding-bottom: 10px;
}
.nav-flag:hover .language-dropdown .select-lang p a{color:#444;}

.nav-flag:hover .language-dropdown input[type="radio"]{margin-right:6px;}
.language-dropdown div {
    margin-top: 15px;
}

.t-center{text-align:center;display: block;}

.d-flex-space{display:flex; justify-content:space-between;}

.nav-flag:hover .language-dropdown .selected-lang a:hover{cursor: pointer;
    color: #C7511F;}

.nav-flag:hover .language-dropdown .lang-hover:hover{cursor: pointer;
    color: #C7511F; text-decoration:underline;}

.bottom-footer{background:#131A22;}

.left{float:left; width:50%;}
.right{float:right; width:50%;}
/*==/drop-down-mega-menus==*/





/*==nav-cart==*/
nav .nav-cart{display:flex;align-items:center;text-align:center;}
nav .nav-cart img{widht:38px; height:26px;}




/*==menubar==*/
.menubar{background:#232F3E; color:#fff;display:flex; align-items:center;
  font-size:14px;max-height:39px;padding-left:11px;justify-content: space-between;}

.left-menu{float:left; width:50%;display:flex; }
.p-1.pd.sborder a {display: flex;
    gap: 5px;}
.right-menu {float: right;
    width: 16%;
    display: flex;
    justify-content: end;}
.right-menu a{margin-right:20px;color:#fff;}
.p-1{display:flex;align-items:center;}
.p-1 img{width:18px; height:15px;}
.menubar .p-1 a{font-weight:700; padding-left:5px;}
.menubar a{display:block; color:#fff;}


/*================*/





/*========cart-page========*/

.left-in-cart {
    width: 78.5%;
    padding: 20px;
    background: #fff;
}


.right-in-cart {
    width: 20.5%;
}

.main-item-div-cart {
    padding: 20px 0 12px 12px;
    display: flex;
}


.main-item-cart-cont {
    width: 62.3%;
}
.main-item-cart-img {
    width: 20%;
}

.main-item-cart-price {
    width: 10%;
    margin-left: 8%;
}

.cart-main-col {
    font-weight: 700!important;
    margin-right: 5px;
}

.col-cart-main {
    font-size: 12px;
    color: #0f1111;
    padding-top: 5px;
}

.cart-check-text input[type="checkbox"] {
    width: 13px;
    height: 13px;
    padding: 0;
    margin: 0;
    margin-right: 5px;
}

.cart-check-text {
    font-size: 12px;
    display: flex;
}


.cart-check-text a {
    color: #007185;
    margin-left: 6px;
}

.cart-check-text a:hover {
    color: orange;
    cursor:pointer;
    text-decoration:underline;
}

.cart-main-items-bottom-text a:hover {
    cursor:pointer;
    text-decoration:underline;
}


.cart-main-items-bottom-text a {
    color: #007185;
    margin-left: 6px;
    font-size: 12px;
}

.cart-main-items-bottom-text-sec {
    margin-top: 10px;
}

.pr-cart-main.t-right {
    font-size: 18px;
    line-height: 30px;
    font-weight: 700;
}


li.save-cart-main-text {
    font-size: 12px;
}


.cart-bellow-pr-box {
    border: 1px solid #c9c9c9;
    border-radius: 7px;
    padding: 7px;
    width: 86px;
    margin-left: 15px;
}

li.cart-coupon-text {
    color: #007185;
    font-size: 12px;
}

.cart-bellow-pr-box li {
    padding: 3px 0;
}

.cart-bellow-pr-box li:hover {
    text-decoration: underline;
    cursor: pointer;
}


p.right-cart-check-text {
    display: flex;
    font-size: 14px;
    align-items: center;
}

p.right-cart-check-text a {
    color: #007185;
    padding-left: 6px;
}

.right-cart-check-main {
    margin-top: 4px;
}


.top-right-cart-sec {
    background: #fff;
    padding: 18px 18px 35px;
}

.right-sec-cart-main-text {
    font-size: 18px;
}

.right-price-total {
    font-weight: 700;
}

.featured-item-sec {
    background: #fff;
    border-radius: 7px;
    border: 1px solid #ddd;
}


.featured-item-sec {
    background: #fff;
    border-radius: 7px;
    border: 1px solid #ddd;
    padding: 14px;
}

.feature-cart-text-right {
    font-size: 18px;
    line-height: 24px;
    color: #0f1111;
}


.right-left-cart-img-sec img {
    width: auto;
    height: 80px;
}


.rigth-cart-featured-item {
    display: flex;
    padding-bottom: 30px;
}

.right-left-cart-out-cont-sec {
    margin-left: 10px;
}


a.main-right-cart-text-a:hover {
    text-decoration: underline;
    color: #C7511F;
}
.main-right-cart-text-a {
    color: #007185;
    cursor: pointer;
}

.subtotalleft {
    float: right;
    margin-top: 5px;
}


/*========universal-cart-page========*/


.addcartminibtn:hover {
    background: #f5cb00;
    cursor: pointer;
}
.addcartminibtn {
    background: #FFD814;
    border-radius: 8px;
    border: 0;
    font-size: 12px;
    padding: 7px 6px;
    height: 22px;
    color: #565656;
}


.seeoptionbtncart {
    border: 1px solid #dddddd;
    border-radius: 7px;
    font-size: 11px;
    color: #0f1111;
    padding: 6px 7px;
    box-shadow: 0px 3px 8px #e7e7e7;
}


.seeoptionbtncart:hover {
    background: #f3f3f3;
}


.right-cart-prices {
    font-size: 14px;
    color: #b12704;
    margin-bottom: 8px;
}

.main-right-cart-text {
    font-size: 14px;
    color: #007185;
}

.proceedbtn {
    background: #ffd814;
    width: 100%;
    height: 30px;
    display: inline-block;
    border-radius: 10px;
    text-align: center;
    padding: 7px;
    font-size: 13px;
    color: #0f1111;
    cursor: pointer;
}

.proceedbtn:hover {
    background: #efca12;
}

.cart-wrapper {
    padding: 18px;
}

.bg-greyish{background: #EAEDED!important;}

.btn-qnt {
    width: 77.75px;
    height: 29px;
    border-radius: 7px;
    outline: none;
    background: #F0F2F2;
    padding: 0 10px;
    color: #262626;
    font-size: 13px;
    box-shadow: 0px 5px 10px #ddd;
    border: 1px solid #ddd;
}

.instock-cons {
    font-size: 12px;
    color: #007600;
    line-height: 24px;
}
.cart-main-text {
    font-size: 24px;
    font-weight: 400;
    line-height: 36px;
}


.cart-item-text {
    font-size: 18px;
    cursor: pointer;
}


.t-right{text-align:right}

/*========stars========*/
.right-cart-stars {
    display: inline-block;
    background: url(../images/allpngs.png) -2px -22px no-repeat;
    width: 80px;
    height: 18px;
    background-size: 512px 512px;
    margin-top: 5px;
}




/*========/cart-page========*/























button.addcartbtn {
    width: 100%;
    border-radius: 20px;
    outline: none;
    border: none;
    background: #FFFAE0;
    border: 1px solid #FFED94;
    color: #8C8C89;
    font-size: 13px;
    line-height: 29px;
    box-shadow: 0 5px 19px rgb(0 0 0 / 9%);
}




button.addcartminibtn {
    background: #FFD814;
    border-radius: 8px;
    border: 0;
    font-size: 11px;
    padding: 0 6px;
    height: 22px;
    color: #565656;
}

button.addcartminibtn:hover {
    background: #f5cb00;
    cursor: pointer;
}




.in-active-btn{position:relative;}

.in-active-btn .add-cart-popover {
    display: none;
    position: absolute;
    box-shadow: 0 1px 13px rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    z-index: 999;
    width: 285px;
    height: 110px;
    right: 208px;
    bottom: -40px;
    background: #fff;
    padding: 10px 25px;
    border: 1px solid #bbb;
}

.in-active-btn:hover .add-cart-popover{display:block;}




button.scrollerbtn1 {
    position: relative;
    width: 36px;
    height: 65px;
    top: 53%;
    background: #fff url(../images/leftarrow.png) -5px 10px no-repeat;
    background-size: 41px;
    z-index: 999;
    border: 0;
    border-radius: 0 3px 3px 0;
    cursor: pointer;
    box-shadow: 0 0 5px #fff;
}

button.scrollerbtn2 {
    position: relative;
    width: 36px;
    height: 65px;
    top: -36.5%;
    left: 97.4%;
    outline: 0;
    border: 0;
    background: #fff url(../images/rightarrow.png) 1px 10px no-repeat;
    background-size: 41px;
    z-index: 999;
    cursor: pointer;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0 0 5px #fff;
}








.helfulbtn:hover {
    background: #ededed;
    cursor: pointer;
}

.helfulbtn {
    width: 96px;
    height: 29px;
    border-radius: 7px;
    outline: none;
    background: #ffffff;
    padding: 0 10px;
    color: #505050;
    font-size: 12px;
    box-shadow: 0px 5px 10px #ededed;
    border: 1px solid #ddd;
}

select.review-btn-select:hover {
    background: #e7e7e7;
    cursor: pointer;
}

select.review-btn-select {
    width: 133px;
    height: 20px;
    border-radius: 7px;
    outline: none;
    background: #F0F2F2;
    padding: 0 10px;
    color: #505050;
    font-size: 12px;
    box-shadow: 0px 5px 10px #ddd;
    border: 1px solid #ddd;
}
 



/*====star-percentage====*/

.left-percentage-box {
    position: relative;
    display: inline-block;
    width: 180.5px;
    height: 21px;
    border: 1px solid #7c7c7c;
    border-radius: 4px;
    background: #f0f2f2;
    overflow: hidden;
}


.left-percentage-box::after {
    content: '';
    background: #ffa41c;
    position: absolute;
    width: 66%;
    height: 19.5px;
    border: 1px solid #ff8f1c;
    border-right: 0;
    top: -1px;
    left: -1px;
    border-radius: 4px 0 0 4px;
}



.left-percentage-box4 {
    position: relative;
    display: inline-block;
    width: 180.5px;
    height: 21px;
    border: 1px solid #7c7c7c;
    border-radius: 4px;
    background: #f0f2f2;
    overflow: hidden;
}


.left-percentage-box4::after {
    content: '';
    background: #ffa41c;
    position: absolute;
    width: 15%;
    height: 19.5px;
    border: 1px solid #ff8f1c;
    border-right: 0;
    top: -1px;
    left: -1px;
    border-radius: 4px 0 0 4px;
}



.left-percentage-box3 {
    position: relative;
    display: inline-block;
    width: 180.5px;
    height: 21px;
    border: 1px solid #7c7c7c;
    border-radius: 4px;
    background: #f0f2f2;
    overflow: hidden;
}


.left-percentage-box3::after {
    content: '';
    background: #ffa41c;
    position: absolute;
    width: 8%;
    height: 19.5px;
    border: 1px solid #ff8f1c;
    border-right: 0;
    top: -1px;
    left: -1px;
    border-radius: 4px 0 0 4px;
}




.left-percentage-box2 {
    position: relative;
    display: inline-block;
    width: 180.5px;
    height: 21px;
    border: 1px solid #7c7c7c;
    border-radius: 4px;
    background: #f0f2f2;
    overflow: hidden;
}


.left-percentage-box2::after {
    content: '';
    background: #ffa41c;
    position: absolute;
    width: 4%;
    height: 19.5px;
    border: 1px solid #ff8f1c;
    border-right: 0;
    top: -1px;
    left: -1px;
    border-radius: 4px 0 0 4px;
}



.left-percentage-box1 {
    position: relative;
    display: inline-block;
    width: 180.5px;
    height: 21px;
    border: 1px solid #7c7c7c;
    border-radius: 4px;
    background: #f0f2f2;
    overflow: hidden;
}


.left-percentage-box1::after {
    content: '';
    background: #ffa41c;
    position: absolute;
    width: 7%;
    height: 19.5px;
    border: 1px solid #ff8f1c;
    border-right: 0;
    top: -1px;
    left: -1px;
    border-radius: 4px 0 0 4px;
}

/*====/star-percentage====*/





/*====universal-for-checkout-page====*/


/*====review-star-page====*/


.left-review-star-5 {
    background: url(../images/allpngs.png) -390px -462px;
    content: '';
    width: 95px;
    height: 20px;
    display: inline-block;
}

.review-star-4 {
    background: url(../images/allpngs.png) -2px -22px;
    content: '';
    width: 80px;
    height: 15px;
    display: inline-block;
}

.review-star-5 {
    background: url(../images/allpngs.png) -2px -2px;
    content: '';
    width: 80px;
    height: 15px;
    display: inline-block;
}

.review-star-5 {
    background: url(../images/allpngs.png) -2px -2px;
    content: '';
    width: 80px;
    height: 15px;
    display: inline-block;
}

.review-star-5 {
    background: url(../images/allpngs.png) -2px -2px;
    content: '';
    width: 80px;
    height: 15px;
    display: inline-block;
}


/*====/review-star-page====*/


.active-review-btn {
    background-color: #00464F!important;
    color: #FFFFFF!important;
}

.reviewbtntype {
    background-color: #D7E8EA;
    padding: 0px 14px;
    line-height: 29px;
    margin: 0px 10px 14px 0px;
    border-bottom: solid 1px #969696;
    display: inline-block;
    font-size: 13px;
    color: #111111;
}



.bold18{font-size:18px; font-weight:700; line-heigh:24px;}
.border-top{border-top:1px solid #ddd;}
.add-item1  a:hover {color: #e47911!important;}

.color-12px-gray-seller {
    font-size: 12px;
    color: #565959!important;
}
.font18{font-size:18px!important;}
.pdright5{padding-right:5px;}
.padding1418{padding:14px 18px;}
.paddingt8{padding-top:8px;}
.paddingt14{padding-top:14px;}
.pb20{padding-bottom:20px;}
.pb30{padding-bottom:30px;}
.margintb24 {
    margin: 24px 0px;
}

.price-right-small {
    font-size: 14px;
    line-height: 28px;
    color: #B12704;
}


.right-box-item-name {
    font-size: 14px;
    color: #007185;
}

.right-box-item-name:hover {
    text-decoration:underline;
    color: #c7511f;
    cursor: pointer;
}


.special-col {
    color: #0f1111!important;
    font-size: 14px;
}


.active-border{color:#b12704;
              border-color:#b12704;}
.a-size-large {
    font-size: 24px!important;
    line-height: 32px!important;
}
.a-link-text {
    font-size: 14px;
    color: #007185;
    cursor: pointer;
}

.d-flex-center {
    display: flex;
    gap: 7px;
    align-items: center;
}

.color-links {
    color: #007185;
}
.bold {
    color: #0f1111;
    font-weight: 600;
}





.l-row {margin: 16px 0;}
.l-row ul li {
    display: flex;
    align-items: center;
}







.up-rate {display: flex;
    align-items: flex-end;}



.right-row.h-alined-flex-box .rrc {border-bottom: 1px solid #ddd;}


.right-row.h-alined-flex-box .rlc{padding: 3% 2%;}


section.browser-history.d-flex {border: 1px solid #ddd;
    border-radius: 5px;}

.w-100 {width: 100%;}












.mb8p{margin-bottom:8%;}
.mb8{margin-bottom:8px;}
.mr10{margin-right:10px;}
.mr5{margin-right:5px;}


input[type="checkbox"] {border: none;
    box-shadow: none;
    height: 16px;
    width: 16px;}





/*==stars-rating==*/
.item-star-5 {background: url(../images/allpngs.png);
    width: 82px;
    display: block;
    height: 20px;}

.item-star-4 {background: url(file:///D:/Pavan/html/27.06.2023/images/allpngs.png);
    width: 82px;
    display:block;
    height: 20px;}


.item-star-3 {background: url(file:///D:/Pavan/html/27.06.2023/images/allpngs.png);
    width: 82px;
    display:block;
    height: 20px;}


.item-star-2 {background: url(file:///D:/Pavan/html/27.06.2023/images/allpngs.png);
    width: 82px;
    display:block;
    height: 20px;}


.item-star-45 {
    background: url(../images/allpngs.png);
    width: 82px;
    display: inline-block;
    height: 20px;
    background-position: -2px -42px;}


/*==/stars-rating==*/





.min-width{min-width:200px}
.min-height{min-height:200px}
.red{background:red;}
.green{background:green;}
.blue{background:blue;}
.yellow{background:yellow;}

.itemlink {color: #0F1111;}

.itemlink:hover {
    cursor: pointer;
    color: #C7511F;}


.Sponsored-text-style {font-size: 11px;
    color: #555!important;
    text-decoration: none!important;
    cursor: pointer;
    padding-top: 2px;
    height: 23px;
    min-width: 70px;
    background: url(../images/ibtn.png) no-repeat 60px -14px;
    background-size: 13px;}

.Sponsored-text-style:hover{
    cursor: pointer;
    color: #C7511F!important;
    background: url(../images/ibtn.png) no-repeat 60px 0px;
    background-size: 13px;}



.pdright{padding-right:20px}




.mid-cross-line {text-decoration: line-through;}

.save-text{font-size:14px; line-height:20px;}

.medium-text-pr {color: #565959;
    font-size: 14px;
    line-height: 20px;}

.a-small-color {color: #7a7a7a!important;}




.r-d-flex {display: flex;}

.h-item-rate-title {font-size: 16px;
    color: #0F1111;
    line-height: 24px;}
.item-rate-title {font-size: 28px;
    color: #0F1111;
    line-height: 24px;}
.item-name-title{font-size:18px; line-height:24px; color:#0F1111;}

.d-block{display:block;}
span.save-btn {padding: 2px 3px;
    color: #111;
    background: #7fda69;
    line-height: 20px;
    font-size: 14px;}
.a-color-link{color:#007185;}
.medium-max-text{font-size:14px;}

.a-size-small {font-size: 12px;
    line-height: 16px; color:#0f1111;}

.a-size-small {
    font-size: 10px;
    line-height: 18px;
    color: #0f1111;
}

.str{display:flex;align-items:self-end;}
.pdl{padding-left:150px;}
.d-flex{display:flex; justify-content:space-between;}

.item-name{font-size:14px;color:#0f1111;}
.left-heading-tilte{font-size:14px; color:#0f1111; font-weight:700;margin-bottom:8px;}
a{text-decoration:none;}
.basecolor{color: #0F1111;}




.container-fluid { max-width: 1326px;
    margin: auto;}

.header-container{max-width:1366px; margin:auto;}





/*=======home=======*/
.mb15{margin-bottom:15%}
.pdr0{padding-right:0;}
.pdl0{padding:0;}
.securebg{background:#fff;}
.tpbg{background:transparent;}
.h3boxpd{padding:10%;}
.pd0{padding:0px; padding-bottom:10%;}
.lboxpadding{padding: 10%;}
.btnsecure{border-radius: 8px;font-size: 13px; border:none;padding: 8px 0px;
    box-shadow: 0 2px 5px 0 rgba(213,217,217,.5);background: #FFD814;color:#0F1111;
    border-color: #FCD200; width:100%;}
.pdl5{ padding-left:11%;}

.pd{padding: 8px 9px; margin: 5px 0 6px 0;}
.margin-left{}
.ccc{color:#ccc;}
.nav-text{font-size:12px; font-weight:400;}
.nav-title{font-size:14px; font-weight:700;}
.container{max-width:1366px; margin:auto;}
.border {border: 1px solid #131921;
    border-radius: 2px;}
.border:hover{border:1px solid #fff; border-radius:2px;}
.n-active:hover{border:1px solid #febd69; border-radius:2px;}

.sborder {border: 1px solid #232F3E;
    border-radius: 2px;}
.sborder:hover{border:1px solid #fff; border-radius:2px;}



/*=======home-foot======*/


/*==sign-in-sec==*/
.sign-in-sec {padding: 3% 0 1.5%;
    background: #fff;}

.in-sign {border: 0.5px solid #DDDDDD;
    overflow: hidden;
    border-radius: 6px;}

.sign-content{width:230px; margin:auto;}
.sign-content p{font-size:13px; text-align:center;}
.sign-content a {font-size:11px;color: #007185;}

button.signbtn {width: 100%;margin: 2% 0;
    height: 28px; cursor:pointer;
    background: url(../images/btnsign.png);
    border: none;}
/*==/sign-in-sec==*/




/*==back-top-sec==*/
.back-top-sec{background:#37475A; padding:1.1% 0;}

.back-top-sec a{color:#fff; text-align:center; display:block; font-size:13px;}
/*==/back-top-sec==*/

.sign-content a:hover {cursor: pointer;
    color: #C7511F;}
nav .nav-search img:hover {background: #edaf5f;
    cursor: pointer;}
.back-top-sec:hover {background: #3e5065;}


/*==footer==*/
/*==top-footer==*/
.top-footer{background-color:#232F3E; overflow:hidden;}


.foot-in { display:flex;
     width:1000px; margin:auto; justify-content: space-between;}
.foot-in f1{margin:left:1%;}

.f1 ul li a:hover {text-decoration: underline;}

.foot-in ul{}
.foot-in p{display:block; color:#fff;margin: 6px 0 14px 0; font-size:16px; font-weight:700;}
.foot-in ul li {padding: 4% 0;}
.foot-in ul li a{display:block; color:#ddd; font-size:14px;}






/*==f-language-sec==*/

.f-language-sec img{width:76px; height:23px;}
.f-language-sec{border-top:1px solid #ddd;}
.language-in {
    margin: 1% 26%;
    display: flex;
    align-items: center;
    gap: 20%;
    justify-content: center;
}

button.f-btn {padding: 8px;
    background: none;
    outline: none;padding-right: 24px;
    border: none; cursor:pointer;
    color: #b7b6b6;
    border: 1px solid;
    border-radius: 4px;}

.expect-logo {}

.f-logo {margin-top: 6.4%;
    cursor: pointer;}

img.net {width: 14px;float: left;
    height: 13px;
    margin-right: 7px;}

img.f-flag { width: 15px;
    height: 10px;}
/*==/f-language-sec==*/

/*==/top-footer==*/




.bottom-footer{background:#131A22;}


.f-b-link{text-align:center;}
.bottom-footer a{color:#ddd; display:inline; font-size:12px; padding:0 8px;margin-bottom:10px;}
.bottom-footer a:hover{text-decoration:underline;}
.bottom-footer p{color:#ddd;text-align:center; font-size:12px; }
.f-b-link {margin-bottom: 7px;}



.mb10{margin-bottom:10px;}
.mb15{margin-bottom:15px;}
.mb20{margin-bottom:20px;}
.mt20{margin-top:20px;}
.mt15{margin-top:15px;}
.mt10{margin-top:10px;}
.doller{font-size:14px; color:#fff; }
.fontsm11{font-size:11px;}
.gaptop42{margin-top:42px;}
.gapbot42{margin-bottom:42px;}
.pdtop{padding-top:20px;}
.pdbot{padding-bottom:20px;}
.pdtop10{padding-top:7px;}



.red {
    background:red;
    min-height:300px;
    display:flex;
}
.red .r-left {
    width: 30%;
    background: #000;
    height: 300px;
    float: left;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.red .r-right {
    width: 68%;
    background: #00ff00;
    height:1500px;
    float: right;
}